<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Omer Šabić | About</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-size: 2rem;">Omer Šabić</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin: 0 auto; text-align: center;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/about">ABOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="overflow: hidden;">
        <div class="row" style="margin-top:6vh; padding:25px;">
            <div class="col col-lg-5 col-sm-10" style="margin-bottom:25px;">
                <img src="../images/img_2.jpg" alt="" style="width: 100%" id="coverImg">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-sm-9" style="overflow: hidden;">
                <div id="badges">

                </div>
                <h1 id="title"></h1>
                
                <p id="desc"></p>
                <div>
                    <h2>Link list:</h2>
                    <ul id="links"></ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <script>
        var data = JSON.parse('<%-data%>')
        document.getElementById('title').textContent = data.name
        document.getElementById('coverImg').src = data.icon
        document.getElementById('desc').textContent = data.description
        var badges = data.badges.split(',')
        badges.forEach(e => {
            var img = document.createElement('img')
            img.id = "badge"
            img.src = '../images/' + e + '.svg'
            document.getElementById('badges').appendChild(img)
        })
        var links = data.links.split(',')
        links.forEach(e => {
            var li = document.createElement('li')
            var a = document.createElement('a')
            a.href = e
            a.innerHTML = e
            li.appendChild(a)
            document.getElementById('links').appendChild(li)
        })
    </script>

</body>

</html>